.details-container {
    height: 100vh;
    width: 100vw;
    background: #f6f5ef;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.details-card {
    display: flex;
    gap: 30px;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    max-width: 900px;
    width: 95%;
    height: auto;
    max-height: 85vh;


    animation: expandAndRise 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes expandAndRise {
    0% {
        opacity: 0;
        transform: translateY(100px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(-50px) scale(1.05);
    }
}

.details-image {
    position: relative;
    width: 45%;
    background: #f3f3f3;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-image img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.details-info {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.product-title {
    color: #224037;
    font-size: 28px;
    margin: 0;
    font-weight: bold;
}

.product-desc {
    color: #555;
    line-height: 1.5;
    margin: 0;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.details-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}


.product-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #224037;
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 11px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #224037;
}

.add-to-cart-btn {
    background: #224037;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
}