.single-store-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
}


.store-hero-section {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.store-content-wrapper {
    background: hsl(0, 0%, 100%);
    width: 90%;
    max-width: 1100px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    height: 250px;
}


.store-image-box {
    flex: 0 0 300px;
    background: #f0f4f1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.store-image-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.store-details-box {
    flex: 1;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.store-details-box h2 {
    font-size: 1.8rem;
    margin: 5px 0;
    color: #1b4332;
}

.store-desc {
    font-size: 0.95rem;
    margin-bottom: 15px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.products-area {
    width: 90%;
    max-width: 1100px;
    padding: 40px 0;
}